[2018-04-26 20:21] emVdovin opened #5 "Work with AspNetCore 2.1 preview 2 final?"
When tried with AspNetCore 2.1 preview 2, got the error below when calling services.AddAzureSignalR()

System.TypeLoadException
  HResult=0x80131522
  Message=Could not load type 'Microsoft.AspNetCore.SignalR.Internal.Protocol.ProtocolType' from assembly 'Microsoft.AspNetCore.SignalR.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'.
  Source=Microsoft.Azure.SignalR
  Stac

[2018-04-27 11:54] xscript opened #6 "Timer doesn't work in Azure Functions"
After deploying the latest Timer sample to Azure Functions with V1 runtime, below exception will be thrown. We are working with Azure Functions team to find a solution to this issue. Progress will be updated here.

[code]

[2018-04-27 17:30] emVdovin opened #7 "Where to set AzureSignalR connection string?"
In ChatRoom sample, where to set the connection string?

Is there an example to connect from .Net framework 4.6 client?

Thanks!

[2018-05-06 18:23] #6 closed, assigned to nobody

[2018-05-06 18:28] #7 closed, assigned to nobody

[2018-05-06 18:28] #5 closed, assigned to nobody

[2018-05-08 02:59] hannesne opened #14 "Please add a sample for Unity3d"
The SignalR backend is super useful, but is hard to use from Unity because of the different plugin & runtime requirements.

[2018-05-08 03:08] davidfowl commented on #14
Unity 2018.1 supports .NET Standard 2.0 which the SignalR Client supports. If you have any more specific concerns after trying that version let us know.

[2018-05-08 20:49] johnkwaters opened #15 "Not getting hub OnConnected/OnDisconnectedAsync calls"
I switched from SignalR (AspNetCore RC1) to AzureSignalR
I use authenticated hubs (using JWT Bearer tokens in header)
When a client connects, I add the connection to a group for its Tenant (a multitenant solution,  tenant is a claim in the JWT).
However - in the AzureSignalR version, my hub does not get these events.

[2018-05-09 21:01] danuw opened #16 "ChatRoomLocal readme seems to be missing something"
When following all the instructions, on ```dotnet run```, the webpage displays ```Hello world!```.
It might be helpful to indicate to have to comment/remove that part from the Startup.cs just in case...?

[code]
as shown below

<img width="826" alt="screen shot 2018-05-09 at 21 57 38" src="https://user-images.githubusercontent.com/8134789/39839578-6dc9cf14-53d4-11e8-9d03-c9329786b33d.png">

[2018-05-10 15:40] TonyHenrique opened #17 "How to use Azure SignalR Service from Azure Functions (v2) in C# ?"
How to use **Azure SignalR Service** from **Azure Functions** (v2) in C# ?
Is there some documentation and sample?

[2018-05-14 01:49] xscript commented on #15
I am a little confused. So it works now?

[2018-05-14 01:51] xscript commented on #17
Do you want to call the service REST API? or you want to host your hubs in `Azure Functions`?

[2018-05-14 01:53] davidfowl commented on #15
Are you saying you don't get *any* connection events when using websockets and the azure signalr service?

[2018-05-14 15:07] johnkwaters commented on #15
I found that if the client specifies HttpTransportType WebSockets, I dont get any connection events. If I leave it unspecified, I do.

[2018-05-16 17:58] skwasiborski opened #20 ""No server available" after scale down"
When I use Azure SignalR Service and scale out my backend everything works as expected and my clients are distributed among the backends. When I scale down (decrease the number of replicas) I start getting No server available on the clients i.e. {"type":7,"error":"No server available."} on the WebSocket connection after first attempt to invoke hub method. The problem occurs only for some clients.

[2018-05-17 18:38] mjrousos opened #21 "HubCallerContext.GetHttpContext returns null"
**Expected Behavior**
When using (non-Azure) SignalR for ASP.NET Core, my hub's `OnConnectedAsync` method was using `Context.GetHttpContext()` to get the HTTP context for the SignalR connection in order to view query strings from the client's connection request (and made client grouping decisions based on that data).

**Actual Behavior**
Using Azure SignalR as a Service, my hub receives `OnConnect

[2018-05-17 19:01] davidfowl commented on #21
Unfortunately this will never work to full fidelity. What things are you thing to access from the http context?

[2018-05-17 19:02] davidfowl commented on #21
We can probably flow query string and some headers

[2018-05-18 09:38] flowest opened #22 "Can' get the sample to work. 'Failed to start connection'"
When i follow the steps of "Build Your First Azure SignalR Service Application" tutorial,
i get the following exception on running the web app:

[code]

_(sorry for the german exception message in there, i don't know how to set them english)_

Anyone else facing this problem?

[2018-05-18 09:39] davidfowl commented on #22
Can you share your application?

[2018-05-18 09:49] flowest commented on #22
Yes here is the link to my repo:
https://github.com/flowest/AzureSignalRTest

[2018-05-18 09:54] flowest commented on #17
I am also interested in this.
For me, i would like to trigger SignalR service from an Azure Function (preferably v1) (e.g. a HttpTrigger or EventGridTrigger) and send a message to all connected clients.
How to accomplish this?

[2018-05-19 23:10] cecilphillip commented on #17
I'd be interested to see if we could run a serverless Hub in Azure Functions

[2018-05-20 04:49] TonyHenrique commented on #17
I would like to trigger SignalR service from an Azure Function

[2018-05-20 09:09] xscript commented on #17
You can refer to the [Realtime Signin Sample](https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/RealtimeSignIn). It should have everything you need.

[2018-05-20 09:44] xscript commented on #20
So the error happens even for new clients after the scale down?
Also could you confirm that the single docker container have active connections to SignalR Service? You can search for `Service connection <GUID connection Id> connected.` in the logs.

[2018-05-22 17:13] skwasiborski commented on #20
Yes the error happens on all clients i.e. refresh on old tab or totally new client. I will check the logs but some client succeed to connect and work as expected so the connection has to be up.

[2018-05-23 09:30] chenkennt commented on #16
Added a note to remove `app.Run(...)` in 413dc4d

[2018-05-23 09:30] #16 closed

[2018-05-23 12:31] bsampica commented on #22
Is there a resolution to this?  I started getting this recently...

[2018-05-23 14:11] xscript commented on #20
I will try to reproduce from my side and get back to you.

[2018-05-23 14:12] xscript commented on #22
@flowest I tried your project and it works well. Anything else to share?

[2018-05-23 16:52] johnkwaters commented on #15
So got back into this now.. if I use local SignalR, it works, if I use Azure SignalR it doesnt.
The hub is authorized, i.e. it has an [Authorize] attribute.
The angular client calls a login API, gets a JTW, then sends this on the connect call. I see it coming though, and I have a middleware that places it in the Authorization HTTP header, with Bearer <token>. The JTW has some claims, including the

[2018-05-24 06:52] flowest commented on #22
@xscript Thanks for your work.

Basically thats all for me to share, becaus the sample just consits of the web app and the SignalR Service.
The only thing i can imagine is the SignalR Service configuration.

Since this is a new Azure Service in preview, can you tell me where you set the location of the SignalR Service resource?
I noticed it makes a difference where you locate your service in some

[2018-05-24 07:33] xscript commented on #22
For SignalR Service, all regions are the same. If you want to try, I am using Southeast Asia.

Could you share your service instance name so that I can checkout backend logs to see what happened?
You can email it to  `kevinzha at microsoft.com`

[2018-05-24 08:36] bsampica commented on #22
@xscript

My instance name is “backplane”

[2018-05-24 13:02] johnkwaters commented on #15
Thanks!
To sum up the findings so far: when using Authorize and SignalR Azure OnConnectedAsync is not called. When using plain vanilla signalr, it is. If I remove Authorize, it is called. The authorization itself appears to be working fine, the tokens flying around in the logs look correct.
One more observation - I tried adding a handler for the getclaims function in the Azure SignalR options, and

[2018-05-24 13:04] johnkwaters commented on #15
"Then SignalR Service will pass all claims in the JWT back to your app server to build a new connection" - how does it pass them back - the way it does this seems to not pass the Authorize muster. My app is happy if it finds the JWT on the querystring in a variable called token, or access_token, or if it is in the Authorization: Bearer <jwt> http header. How does the service pass the claims when b

[2018-05-24 13:05] johnkwaters commented on #15
And looking at the debug console I dont see any token authentication failing. I dont see any failures at all. On the middle tier or the client.

[2018-05-24 13:06] johnkwaters commented on #15
I looked at the token too and it has all the correct claims in it.

[2018-05-24 13:20] xscript commented on #15
This is pretty weird. We have a sample using authorized hub too. I tried it again today and it works well.
You can find the code [here](https://github.com/aspnet/AzureSignalR-samples/blob/master/samples/GitHubChat/Hub/Chat.cs#L10). I changed it a little to use [a policy](https://github.com/aspnet/AzureSignalR-samples/blob/master/samples/GitHubChat/Startup.cs#L46). Client can successfully connected

[2018-05-24 13:45] johnkwaters commented on #15
Its not the same auth scheme though. You are using github and cookies... my auth pipeline uses JwtBearer

[2018-05-25 00:02] johnkwaters commented on #15
How about you see if your code works with a JWT and Bearer Auth, no cookies or GitHub oauth?
Also - how does the Azure SignalR service establish it's connection? I dont see that incoming request...

[2018-05-25 07:32] #17 closed

[2018-05-25 11:08] DebolaA opened #24 "ARM Creation of Azure Signalr Service"
Hello,

Aside from using Azure CLI or creating via Azure Portal;

is there any  Powershell command or ARM way of creating the new Azure Signalr Service .

thank you.

[2018-05-25 11:11] DebolaA commented on #24
@davidfowl kindly assist with the about question.

thank you

[2018-05-25 14:44] xscript commented on #15
Sure. I am trying out the JWT scheme.

To answer your second question, there is a [protocol](https://github.com/Azure/azure-signalr/blob/dev/specs/ServiceProtocol.md) between Service and your app server. For every new client connected to Service, a `OpenConnectionMessage` will be sent from Service to your app server. https://github.com/Azure/azure-signalr/blob/dev/specs/ServiceProtocol.md#new-clie

[2018-05-26 08:39] xscript commented on #24
@ArieShout to provide more information on this.

[2018-05-26 12:39] xscript commented on #15
Hey @johnkwaters , I tried JWT scheme and it still works on my side. You can find the code at [here](https://github.com/Azure/azure-signalr/tree/kevinzha/jwt-auth/samples/ChatSample).
It provides a public API for client to get JWT token and use this token to access the `Chat` hub.

You can use this sample as a starting point and add your authorization logic to locate the issue.
If things still don

[2018-05-26 12:59] xscript commented on #22
@bsampica I didn't see anything unusual for your instance. Let me investigate more .

@ClientIco How often do you see this happen? If not, how long does it last?
Also how many servers do you have? Where do you host them?

[2018-05-26 15:31] johnkwaters commented on #15
OK, thanks a million, will review and compare!

John

From: Kevin Zhao <notifications@github.com>
Sent: Saturday, May 26, 2018 5:40 AM
To: aspnet/AzureSignalR-samples <AzureSignalR-samples@noreply.github.com>
Cc: John Waters <john.waters@cto4hire.net>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/AzureSignalR-samples] Not getting hub OnConnected/OnDisconnectedAsync calls (#15)

Hey @j

[2018-05-28 09:50] bsampica commented on #22
@xscript my issue ended up being related to using generic arguments in my hub class which busts things pretty good

[2018-05-29 08:08] xscript commented on #21
Duplicate of https://github.com/Azure/azure-signalr/issues/108
Close this one and track with the above issue.

[2018-05-29 08:08] #21 closed

[2018-05-29 10:29] ArieShout commented on #24
The Azure PowerShell cmdlets for Azure SignalR service can be found at: https://www.powershellgallery.com/packages/AzureRM.SignalR/0.1.1-preview

Docs available at: https://github.com/Azure/azure-powershell/blob/AzureRM.SignalR.0.1.0/src/ResourceManager/SignalR/Commands.SignalR/help/AzureRM.SignalR.md

[2018-05-29 14:42] ClientIco commented on #22
I think am really starting to doubt if normal routing / not from our side /
but between continents are causing major head aches. It will work in South
Africa, then it will stop working in Australia, then occasionally it will
work in Asia/Russia.... I would expect the path 2 azure would take specific
and different routes which is prioritized when doing websockets - so far
countries closest 2 USA ha

[2018-05-29 18:55] johnkwaters commented on #15
So I see one thing: in your HTML client, you build the connection using an accessTokenFactory?

            var connection = new signalR.HubConnectionBuilder()
                .withUrl('/chat', {
                        accessTokenFactory: () => accessToken
                    })
                .build();

I have an Angular client, and it looks like this:

      this._hubConnection = new HubConnec

[2018-05-29 19:51] johnkwaters commented on #15
I guess one other difference - or two - I am using HTTPS, and also, my Angular client is not served up from the same site as the API (your client is), so I have CORS in affect.

[2018-05-29 22:20] johnkwaters commented on #15
I tried to get your example to work with the HTML client in a separate project, with CORS on the API/Hub project. It authenticated but the SignalR part didnt work. Could you try to refine your example to separate the two? Even better - to have an angular client?

[2018-06-04 14:24] grahamehorner opened #27 "Q: any plans to convert ShootR"
are there any plans to build/comvert the ShootR application as a sample for signalr core?

[2018-06-05 02:38] xscript commented on #27
@davidfowl Do we have any plan to do that?

[2018-06-05 03:33] #27 closed

[2018-06-06 11:43] mustafababil commented on #22
I am having the similar error for ChatRoom sample.
[Here](https://forums.asp.net/post/6210670.aspx) I opened a topic about details.

It looks pretty straightforward in the sample but I couldn't make neither console app or html part connect to SignalR Service on Azure. I encounter "No host is known" error.

[2018-06-06 13:57] mustafababil commented on #22
I made it running by creating a new SignalR service with a different name.
Previous one was "mcbu" if it matters for investigation.

[2018-06-06 15:13] xscript commented on #22
@mustafababil Thanks for the detailed information!
Looks like domain name binding failed when provisioning your first instance. Which region is the `mcbu` instance in?

[2018-06-06 16:22] mustafababil commented on #22
@xscript If I am not wrong, it was in US East. The new one is in US West.

[2018-06-08 00:03] johnkwaters commented on #15
Just touching bases on this - it is still a problem for us. We have tried emulating everything in your sample, including the access token factory, same negative results. The only thing different I can see of any significance is that your example the client connects to the hub served from the same domain, no CORS, but in our case, we have an angular client and CORS set up for our API. Would you min

[2018-06-08 01:54] xscript commented on #15
Hey @johnkwaters , sorry to know that you are still blocked.
So do you have a sample to reproduce this issue? Given my limited experience of Angular and limited bandwidth, it would be faster to start with an existing project.

[2018-06-08 07:41] olavt opened #30 "Examples for .NET Core Console App?"
Could you add an example on how to connect to Azure SignalR from a .NET Core Console App? All the examples are currently for ASP.NET / JavaScript and how the connection is setup from .NET Core is well hidden in the frameworks.

[2018-06-08 08:41] xscript commented on #30
@olavt Thanks for the feedback!
I assume you mean starting client connections from .NET Core Console App to Azure SignalR Service.

If you already have a console app working with self-hosted ASP.NET Core SignalR, you don't have to change anything in your console app.
The only change you need is to call `AddAzureSignalR` and `UseAzureSignalR` in your ASP.NET Core SignalR server and configure the co

[2018-06-08 08:43] xscript commented on #22
@mustafababil Yeah, we met some issue in US East region in the past couple of days. The domain name binding failed due to some reason. We have fixed it. So it shouldn't be a problem now.

[2018-06-08 08:44] xscript commented on #22
@flowest Do you still not be able to run the sample?

[2018-06-08 08:46] xscript commented on #22
@ClientIco Have you figured out the root cause? We would like to help out if you want.

[2018-06-08 08:49] xscript commented on #20
Sorry for the late reply here.
I have tried to reproduce but unfortunately I didn't.
Do you still experience the same issue here? When you are scaling down, can you check the logs in the only container that connections to Azure SignalR Server are still active?

[2018-06-08 20:14] SteveFarmerJr opened #31 "Data Generation"
In the FlightPlan sample, it is unclear to me how to generate the flight data and/or derive the "DataFileUrl".  There seems to be a js file in the data folder, but the readme also refers to azure blob storage. I'm sure I'm missing something.

[2018-06-09 10:47] skwasiborski commented on #20
I rechecked the issue. It seems now that it only is present for 10-15 seconds after down scale i.e. just after I downscale the number of backend instances I will get a series of "No server available". I confirmed in logs that the single backend that is not turned off has active connection with Azure SignalR all the time. After 10-15 seconds the issue fixes itself and all request are correctly forw

[2018-06-09 11:14] xscript commented on #31
Add @chenkennt to provide detailed instructions.

[2018-06-09 11:46] xscript commented on #20
Is your instance in `Free` tier? We recently found an issue causing this error after an app server is shut down. The issue only impacts the `Free` tier.

[2018-06-09 17:19] skwasiborski commented on #20
Yes it is in Free tier.

[2018-06-10 04:30] pooran opened #32 "How about a Xamarin Forms sample?"
How about a Xamarin Forms sample, that covers following things
Creating Channel
Adding User
Removing User
Listing users
Sending message / object
Receiving message / object
Broadcast etc

[2018-06-10 12:51] chenkennt commented on #31
The flight data file should be a json file stored in some online storage (e.g. Azure Storage). The js file is a sample generator to generate random flight data. I've added more details about flight data format in README (see c448158).

[2018-06-11 02:48] xscript commented on #30
Add a link to the console app sample in [aspnet/SignalR](https://github.com/aspnet/SignalR) and close the issue.

[2018-06-11 02:48] #30 closed

[2018-06-11 02:49] xscript commented on #31
@SteveFarmerJr feel free to reopen this issue if you have more questions.

[2018-06-11 02:49] #31 closed

[2018-06-11 02:52] xscript commented on #20
Then it all adds up. We have fixed it but haven't deployed it yet. Will update here once the fix is deployed.

[2018-06-11 02:53] xscript commented on #24
@DebolaA feel free to reopen this issue if you have more questions on this.

[2018-06-11 02:53] #24 closed

[2018-06-12 05:36] olavt commented on #30
I was looking for a sample with a console app connecting directly to the Azure SignalR Service with no ASP.NET Core SignalR Server involved.

[2018-06-12 05:56] xscript commented on #30
Could you describe your scenario in more details?
Right now you always need an ASP.NET Core SignalR Server if you want duplex communication between your clients and your server.
If you only need to push messages from server to clients, then you can use our REST API without having a SignalR Server. [The real-time signin sample] is showing this pattern. The difference is the clients are using JavaSc

[2018-06-12 07:29] olavt commented on #30
The scenario is to use Azure SignalR service as a fast way to get messages / events from a publisher to consumers from pure console apps running without any web / GUI.

[2018-06-12 14:41] xscript commented on #30
Sounds like your scenario is broadcast messages from server to clients. And the clients are from console app.

You can use [`HubConnection`](https://github.com/aspnet/SignalR/blob/dev/src/Microsoft.AspNetCore.SignalR.Client.Core/HubConnection.cs) to connect to Azure SignalR Service. Sample usage is at [here](https://github.com/aspnet/SignalR/blob/dev/samples/ClientSample/HubSample.cs#L34).
Two thi

[2018-06-12 15:17] xscript commented on #32
Thanks for the request.
But we are really shorthanded right now. So I will put it to backlog for now.
If you are interested in contributing, we'd like to provide more information and review your pull request. 😄

[2018-06-16 02:01] robertmclaws commented on #7
The current instructions are not working on Azure WebApps.

[2018-06-16 02:09] xscript commented on #7
@robermclaw use `Azure__SignalR__ConnectionString` as appsettings key in Azure WebApp.

[2018-06-16 02:14] robertmclaws commented on #7
I'm using that and it is still throwing an error. See this thread: https://twitter.com/chenkennt/status/1007511818518986753

[2018-06-16 02:28] BrennanConroy commented on #7
What's your program.cs look like? If you don't have environment variables hooked up that could explain why it isn't working.

[2018-06-16 09:37] davidfowl commented on #7
@xscript were you testing on webapp for containers or Azure App Service (on windows)?

[2018-06-16 13:06] xscript commented on #7
I remembered both of them worked with `Azure__SignalR__ConnectionString`. But let me double confirm on App Service on Windows.

[2018-06-16 17:30] robertmclaws commented on #7
Thanks for your help everyone, I confirmed it was because I had it in the "ConnectionStrings" section instead of the AppSettings sections.

I think calling it a "ConnectionString" might be problematic. I made this mistake coming from 4+ years deploying classic ASP.NET apps into Azure WebApps, and putting Storage & WebJob ConnectionStrings in the ConnectionStrings section in Azure. I might be the o

[2018-06-17 02:52] xscript commented on #7
Thanks for the suggestions.

We will definitely refine the documentation to make things clearer.

Regarding option#1, ASP.NET Core do provide an API for getting connection string specifically. The API documentation is [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.configurationextensions.getconnectionstring?view=aspnetcore-2.1#Microsoft_Extensions_Configurati

[2018-07-04 02:38] vavjeeva opened #37 "Windows or Console App client to consume azure signalr library sample Docs Request"
i am trying to implement an application that connects and talk between windows client app and xamarin android app using Azure SignalR library. i am not finding any sample for windows or console app client to consume azure signalr service? please provide some insights.

[2018-07-04 15:04] xscript commented on #37
You can refer to this [code snippet](https://github.com/aspnet/SignalR/blob/master/samples/ClientSample/HubSample.cs#L34-L49).
Client code is the same when you connect to self-hosted SignalR or Azure SignalR Service.

[2018-07-06 16:53] #37 closed

[2018-07-10 06:13] ericbrunner opened #41 "RealtimeSignIn Live Demo not working"
See screenshot
![screenshot_20180710-081045](https://user-images.githubusercontent.com/6480047/42492370-22838b42-8419-11e8-8a7e-84988253562b.png)

[2018-07-12 01:27] mariomeyrelles opened #42 "[Question] [Serverless] How can I send a message to an individual client using REST API?"
Dear Sirs,

I have studied the examples and I fully understand the architecture of Azure SignalR. I was able to broadcast messages from Postman. Also, I was able to run a chat example and was able to exchange messages.

**The issue is**: in a serverless scenario, how would I identify the id of an individual connected user? How Javascript clients can obtain their ID on Azure SignalR Service? This i

[2018-07-12 06:56] chenkennt commented on #42
The id in url (61Ztvpa0KEQeKkJBgB2ZPQ) is the connection id. We don't support send message to connection id as it's not easy to get it in Azure function. Instead we support send message to a user id (`/api/v1-preview/hub/chat/user`). User id is the NameIdentifier claim in access token (this is something you can control when you're generating the access token in Azure function). A sample can be fou

[2018-07-13 02:55] mariomeyrelles commented on #42
Thanks @chenkennt

It works!

For sake of completeness, here is an example of token generation (negotiation) Azure Function in Javascript. `Claims.NameIdentifier` maps to `sub` in jwt:

    var jwt = require('jsonwebtoken')

    module.exports = function (context, req, connectionInfo) {

        var token = {
                "iss": "MyService",
                "aud": connectionInfo.endpoint,

[2018-07-13 08:49] chenkennt commented on #42
Good to know it works, and thanks for the complete sample! 😃

[2018-07-13 08:49] #42 closed

[2018-07-23 13:04] MarekLani opened #44 "No executable found matching command "dotnet-user-secrets""
In chat room sample I was experiencing No executable found matching command "dotnet-user-secrets" error, when trying to add Azure SignalR Service connection string to user-secrets. It was necessary to add following code to csproj file.

[code]

[2018-07-23 13:43] davidfowl commented on #44
You might be using .net core 2.0. The latest sdk has this tool built into the sdk.

[2018-08-01 01:43] #44 closed

[2018-08-03 08:34] xscript commented on #20
@skwasiborski Fix has been deployed to all instances. Please try again to double confirm.

[2018-08-03 08:34] #20 closed

[2018-08-04 20:20] francoisdutoit opened #46 "AdvancedChatRoom slower than ChatRoom"
Just an observation - I have built both the ChatRoom as well as the AdvancedChatRoom and the performance difference between the two is very noticeable.

When sending a message from the ChatRoom example - it seems almost instantaneous that the message is shown in the chat window whereas with the AdvancedChatRoom example there seems to be a bit of a delay between pressing Broadcast and the message b

[2018-08-06 17:11] francoisdutoit commented on #46
I don't know what was happening - but redeployed and all was fine. Thanks for the response 👍

[2018-08-06 17:11] #46 closed

[2018-08-16 13:45] flowest commented on #22
@xscript I just tried everything again from scratch, still no luck...

[2018-08-19 06:58] ericbrunner opened #48 "Realtime Sign-in Example using Azure SignalR Service - SignIn Hub Code"
Please Post a Full Sample (Source Code) Not only function.json that references a C# function dll. Thanks in advance.

[2018-08-20 06:31] xscript commented on #48
You can find the source code at [here](https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/RealtimeSignIn/function). Specifically, the function's source code is at [here](https://github.com/aspnet/AzureSignalR-samples/blob/master/samples/RealtimeSignIn/function/SignInFunction.cs).

[2018-08-20 06:36] cnlogistics commented on #48
The source code of the Hub is missing.

scriptFile": "../RealtimeSignIn.dll",
  "entryPoint": "RealtimeSignIn.SignInFunction.Run"

I want the source code of that dll: RealtimeSignIn.dll
}

[2018-08-20 06:54] xscript commented on #48
There is no C# `Hub` class in this example.

The page allows anonymous access. The `SignIn` function will generate authentication token for all clients in [here](https://github.com/aspnet/AzureSignalR-samples/blob/master/samples/RealtimeSignIn/function/SignInFunction.cs#L37-L41). Each client will use the token to authenticate with Azure SignalR Service in [here](https://github.com/aspnet/AzureSign

[2018-08-20 07:45] cnlogistics commented on #48
Where is that "signin" specified in here?

await signalR.SendAsync("signin", "updateSignInStats", stats.TotalNumber, stats.ByOS, stats.ByBrowser);

Somewhere that hub has to be created or black magic is goinhmg on...

[2018-08-20 08:05] xscript commented on #48
The `signin` is a logical hub in this sample. It will be created and maintained within Azure SignalR Service.
Because in the Serverless scenario, clients only listen for messages. So there is no need to have a web server and a C# `hub` hosted in the server.
From Azure SignalR Service perspective, the hub name is included in the URL, which is generated [here](https://github.com/aspnet/AzureSignalR-

[2018-08-20 08:10] cnlogistics commented on #48
So I could name the logical hub `mylogicalazure-signalr-hub` and it will work, too? Ok thanks @xscript for you intense clarifications.Well serverless sometimes make my head explode...

[2018-08-20 08:17] xscript commented on #48
Yes, correct.

You are welcome. We are happy to help out. 😄

[2018-08-20 08:28] megel opened #49 "Question about SignalR Example with CORS"
I need to connect to the Azure SignalR Hub **as a client from JavaScript** - outside of the ASPCore.NET WebServer project. this means my JavaScript runs in a different Website - hosted by another system.

Is this possible? If yes, please provide some Information / example code for:
* connect to the Hub & Subscribe a channel / Which URL should be used
* Setup the Bearer-Token in JavaScript
* Which

[2018-08-20 08:28] cnlogistics commented on #48
Found that article which describes all very well https://www.c-sharpcorner.com/article/azure-signalr-messaging-with-net-core-console-app-server-and-client/

[2018-08-21 02:30] xscript commented on #49
Are you using Asp.Net SignalR? The support of Asp.Net SignalR in Azure SignalR Service is still in progress. You can follow on https://github.com/Azure/azure-signalr/issues/101.

As to your question, their are two approaches to connect to Azure SignalR Service:
- Host an AspNetCore SignalR server with Azure SignalR Service SDK. Make your client connect to endpoint of your SignalR Server and it wil

[2018-08-21 04:51] xscript commented on #48
That's great. Do you get all you need? If so, please close the issue.

[2018-08-21 05:50] ericbrunner commented on #48
@xscript Thanks for getting back. For others it would help if the official Microsoft documenation could be enhanced with perfect discription like the provided article. Currently the documention is very thin for Azure SignalR Service. I know you guys are before GA rollout but please forward the request to documention team.

[2018-08-21 05:50] #48 closed

[2018-08-21 06:52] xscript commented on #48
@ericbrunner Thanks for the feedback!
We are aware of that our documentation is not in the perfect place yet. We will try our best to enrich documentation for GA.

[2018-08-22 06:36] DynamicLTechnologySolutions opened #50 "Demo site shows map but no data"
http://flightmap-demo1.azurewebsites.net/

[2018-08-26 21:38] hannesne commented on #14
I've created a simple sample for this: PR #2869

[2018-08-27 19:45] megel commented on #49
@xscript, thanks a lot! Your links helped to find the missing part for my example.

[code]

A little bit tricky was the CORS stuff with a local running host.

[code]

[2018-08-27 19:45] #49 closed

[2018-08-28 02:59] realwanpengli commented on #50
The animation is should be OK if the animation restarted. The server is created by @chenkennt ,  he knows the password to restart it.

[2018-09-03 07:07] chenkennt commented on #50
Fixed.

[2018-09-03 07:07] #50 closed

[2018-10-09 15:06] jongalloway opened #56 "Bing Maps Key should be added via configuration and stored as a secret"
The Flight Map sample correctly treats the SignalR connection string as a secret, but has the user copy their API key directly into the index view. An API key should still be treated as a user secret so it's not checked into source control.

[2018-10-11 03:04] cschleiden opened #57 "Link to "SignalR Negotiation Protocol" 404s"
Link to "SignalR's Negotitation (sic) Protocol" in https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/ChatRoom 404s.

[2018-10-18 18:09] MoimHossain commented on #15
Hi I have faced the exact same issue. I am not on Angular. I believe JavaScript framework doesn't matter. The combination that triggers this issue are following:

- SignalR running on a different API server (different host name)
- CORS is in effect
- ASP.net core 2.1 Web API server (Kestrel)
- Client uses JWT bearer token (passing via query string with access token factory and middle ware that cac

[2018-10-18 20:20] davidfowl commented on #15
I’m confused. If authentication fails, the hub won’t be activated. That’s by design.

[2018-10-19 05:19] vicancy opened #59 "Consider adding error handling to the samples"

[2018-10-20 18:29] johnkwaters commented on #15
The part that was never reproduced in the Samples is that my Angular client is a separate SPA, not served up from the same domain as the SignalR Web API. I am not sure what broke and unbroke a few times, but during all the versions, my code was constant. Also, with regular SignalR always worked, it was just the Azure SignalR that didn't result in that event.

[2018-10-20 18:34] davidfowl commented on #15
So to be clear, you *cannot* reproduce the behavior with a simpler sample that uses the Azure SignalR SDK?

[2018-10-20 18:51] johnkwaters commented on #15
Correct - it does not reproduce when the client is hosted in the same app as the hub. Of course now the CORS bells are ringing, but it's not that either since it does work in the latest version of Azure SignalR. And in 1.0.0. But 1.0.1 broke it. And the previews before 1.0.0 also broke it. Since I have a pretty complex app and it is working right now, I haven't spent time creating a repro.

[2018-10-20 18:52] johnkwaters commented on #15
Kevin Zhao (@xscript ) did the simple sample that worked - bit it's not a separate Angular SPA.

[2018-10-20 18:53] johnkwaters commented on #15
@MoimHossain has the same setup as me. But @MoimHossain you you tried 1.0.2 and the latest client side scripts? Those work for me.

[2018-10-20 19:01] davidfowl commented on #15
If somebody could create a simple repro of the problem it would help us in narrowing down the problem.

[2018-10-26 08:43] chenkennt commented on #57
Fixed.

[2018-10-26 08:43] #57 closed

[2018-10-29 08:33] MoimHossain commented on #15
@davidfowl @johnkwaters
I have stripped out my project (keeping only the code that is relevant to this) and pushed it here.
https://github.com/MoimHossain/azure-signalr-auth-issue

Please let me know for more info that I can add to it (as needed). Thanks

[2018-10-29 13:39] davidfowl commented on #15
@MoimHossain I haven't looked at the repro in detail yet but this csproj https://github.com/MoimHossain/azure-signalr-auth-issue/blob/a88cfc4130f808d3e058f4ba2fd187ac0ff7ba07/Server/WebApi.csproj it's mixing ASP.NET Core 2.1 and packages from ASP.NET Core 2.2. Why are you doing that?

[2018-10-29 17:51] MoimHossain commented on #15
@davidfowl that's something I messed up while striping out dependencies to other projects and irrelevant (to this issue) stuffs. I'm on asp.net core 2.2 now.

[2018-11-12 17:01] ramjbe27 opened #62 "unable to install Microsoft.Azure.SignalR.AspNet in 4.6.1 in Asp.net Mvc and access from client side"
When i tried to install Microsoft.Azure.SignalR.AspNet in 4.6.1 in Asp.net Mvc project , it throws an error as attached in the screenshot and also could you suggest how to access from the client side .
![signalr error](https://user-images.githubusercontent.com/44195398/48362881-a6bd3480-e6ca-11e8-8caf-967a381dcc88.png)

[2018-11-20 21:32] BenBtg commented on #32
I'm currently working on Xamarin.Forms sample. Having a few issues with iOS builds but should have something I can provide soon.

[2018-11-21 09:55] songxiaolei opened #63 "How to deploy service to Azure SignalR Service?"
I follow the instruction, try to deploy service to Azure SignalR Service.
https://github.com/aspnet/AzureSignalR-samples/tree/master/aspnet-samples/ChatRoom
When I run it with F5, it doesn't launch on Azure but localhost.

I check the Publisher menu, there are no option related Azure SignalR serivce.
There are
App Service
Azure Virtual Machines
IIS, FTP, etc
Folder

[2018-12-06 23:40] imsam67 commented on #15
Is there a resolution to this issue? I'm having the same exact problem in my ASP.NET Core 2.1 app with React front-end.

When I use the Azure SignalR service, hitting the `OnConnectedAsync()` and `OnDisconnectedAsync()` methods is a hit and miss affair. I seem to hit these methods 10-15% of the time. I can't tell what makes it work in the 10-15% of the time. Rest of the time, these methods are nev

[2018-12-06 23:50] johnkwaters commented on #15
It started working for me... but now, with the recent release of aspnetcore 2.2, is stopped working for both regular signalr and azure signalr. The signlar onconnected functionality seems to break every other release, very brittle!

[2018-12-07 00:00] imsam67 commented on #15
Did you do anything special to fix it? As I said, in my case, it's really not working i.e. 10-15% chance of hitting the `onConnectedAsync()` is not acceptable.

I haven't yet upgraded to ASP.NET Core 2.2 so I'm still on 2.1. Also I'm using the Auth0 service so my tokens are coming from Auth0 and I use the following code on the client side to send the tokens:

[code]

[2018-12-07 00:42] johnkwaters commented on #15
It is in production. So far when it Azure SignalR broke, regular SignalR worked, so I have a switch to toggle between them. Both have been working for quite a while, but now it just broke again. However, see this thread

https://github.com/aspnet/AspNetCore/issues/4483#issuecomment-445073566

Apparently this latest breakage is due to a change in how CORS works

[2018-12-07 01:14] johnkwaters commented on #15
Blogged here: https://trailheadtechnology.com/breaking-change-in-aspnetcore-2-2-for-signalr-and-cors/

[2018-12-07 19:35] imsam67 commented on #15
@johnkwaters  Thank you! Upgrading my app to ASP.NET Core 2.2 and using your code for `CORS` fixed the issue.

[2018-12-27 08:40] taeyo commented on #50
Can you check it again? Flight map site shows map but I can't see planes anymore.
I want to share this demo in my technical session on Jan.11. 2019.

[2018-12-27 09:34] realwanpengli commented on #50
Hi Taeyoung Kim,

I checked the http://flightmap-demo1.azurewebsites.net/ , planes are moving.

Thanks,
Wanpeng Li

From: Taeyoung Kim <notifications@github.com>
Sent: Thursday, December 27, 2018 4:40 PM
To: aspnet/AzureSignalR-samples <AzureSignalR-samples@noreply.github.com>
Cc: Wanpeng Li <Wanpeng.Li@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/AzureSignalR-samples]

[2018-12-27 09:40] realwanpengli commented on #50
Hi Taeyoung Kim,

Can you try with other browser and machine?

Thanks,
Wanpeng Li

From: Taeyoung Kim <notifications@github.com>
Sent: Thursday, December 27, 2018 4:40 PM
To: aspnet/AzureSignalR-samples <AzureSignalR-samples@noreply.github.com>
Cc: Wanpeng Li <Wanpeng.Li@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/AzureSignalR-samples] Demo site shows map but no data

[2018-12-28 03:11] realwanpengli commented on #50
You are welcome.

From: Taeyoung Kim <notifications@github.com>
Sent: Thursday, December 27, 2018 6:28 PM
To: aspnet/AzureSignalR-samples <AzureSignalR-samples@noreply.github.com>
Cc: Wanpeng Li <Wanpeng.Li@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [aspnet/AzureSignalR-samples] Demo site shows map but no data (#50)

Thank you.

When I checked the demo again after I wrote th

[2018-12-29 04:40] DavyOnGit opened #66 "Wrong Pricing"
The ChatRoom samples says:
Free: which can handle **100 connections** at the same time and can send and receive one million messages in a month.
Basic: which has 1000 concurrent connections and **75 millions message** per month limit for one unit. You can scale up to 10 units for a single service instance and you'll be charged by the number of units you use.

Per https://azure.microsoft.com/en-us/

[2019-01-06 07:31] Jonesie commented on #15
I have a very similar issue with a WPF client and an API running in AWS (no Azure Service obviously).  Connection does nothing - no errors, no nothin.  I just upgraded to dnc 2.2.  CORS an JWT are also in effect.  I have an Angular SPA too but havent tried SignalR there - may not need to.

@johnkwaters Your blog post could be relevant but I have no idea what the domain would be for a WPF app.  Loc

[2019-01-11 07:06] vicancy commented on #62
Please use the package for ASP.NET:
https://github.com/aspnet/AzureSignalR-samples/blob/master/aspnet-samples/ChatRoom/README.md#update-chat-room-to-use-azure-signalr-service

[code]

[2019-01-11 08:44] chenkennt commented on #63
You cannot really deploy application to Azure SignalR Service, instead you deploy to other Azure offerings like App service or VM and connect to SignalR service. It's recommended to use App service. Here is a doc about how to deploy it using Azure CLI, you can also deploy using Visual Studio:
https://github.com/aspnet/AzureSignalR-samples/blob/master/docs/azure-integration.md

[2019-01-11 09:01] #66 closed

[2019-01-23 18:13] MrYossu opened #70 "Azure sample gives error when calling $.connection.hub.start()"
I followed the [local chat room sample](https://github.com/aspnet/AzureSignalR-samples/tree/master/aspnet-samples/ChatRoomLocal), and it worked fine.

I then tried modifying it to use Azure, as shown in the [Azure chat room sample](https://github.com/aspnet/AzureSignalR-samples/tree/master/aspnet-samples/ChatRoom).

My changes were to modify Startup.cs to call `app.MapAzureSignalR(GetType().FullNa

[2019-02-01 07:32] siuhleung7 opened #71 "Unable to connect with azure siganlr service"
I follow this github: [https://github.com/Azure-Samples/signalr-service-quickstart-serverless-chat](https://github.com/Azure-Samples/signalr-service-quickstart-serverless-chat)

After updated the **Microsoft.Azure.WebJobs.Extensions.SignalRService** to **1.0.0-preview1-10025**, then my connection will close instantly after connect.

I worked with:
**Microsoft.Azure.WebJobs.Extensions.SignalRServic

[2019-02-01 07:35] siuhleung7 commented on #71
[code]

[2019-02-01 07:51] siuhleung7 commented on #71
Figure out that it is due to azure signalr endpoint issue, recreate new then problem solved.

[2019-02-08 22:27] RamYadlapalli opened #72 "Is there a SDK available to use AzureSignalR in Node.JS Express App?"
All the examples and samples talk about using Azure SignalR with .net core and .net apps, is there a SDK available for Node.JS Express application to user this service?

[2019-02-08 22:28] #72 closed

[2019-02-08 22:29] RamYadlapalli commented on #72
Closed here and created at https://github.com/Azure/azure-signalr/

[2019-03-20 07:36] realwanpengli opened #77 "Management SDK Sample"
# Plan

## Negotiation Server
[code]

Use `<HubName>/negotiate` to redirect the client to ASRS.

## SignalR Client

[code]
Connect to negotiation server and redirect to ASRS.

## Publishing Messages Using Management SDK

[code]

In the process, publish messages with commands:

[code]

[2019-03-21 09:20] #77 closed

[2019-03-29 03:17] wmktz1 opened #85 "How to add Azure SignalR Service in Azure Api application"
now i have a problem, we have an asp.net web application`s  Azure Api application, start class is Global.asax.cs .
i fllow [https://github.com/aspnet/AzureSignalR-samples/tree/master/aspnet-samples/ChatRoom](https://github.com/aspnet/AzureSignalR-samples/tree/master/aspnet-samples/ChatRoom)

my question is
1、Azure SignalR Service must in owin?
2、Can Global.asax.cs connect to Azure SignalR Service

[2019-04-22 18:58] jrmcdona commented on #42
In this scenario what did you use for userId input binding on your negotiate Azure function?

[2019-04-29 15:11] rfcdejong opened #93 "Live Flightmap demo is offline?"
Demo has been taken offline? It returns 404

http://flightmap-demo1.azurewebsites.net/

[2019-04-29 15:13] rfcdejong commented on #93
Also https://signalrsignin.azurewebsites.net/ is offline

[2019-04-30 08:58] #71 closed

[2019-05-03 19:14] Shaninnik commented on #15
I am having exactly same issue. If using Azure SignalR I can see that OnConnectedAsync/OnDisconnectedAsync are not called most of the time. I am saying most of the time, because sometimes they are called. Absolutely no error messages, Chrome displays active web sockets connection and heartbeat messages are coming, but other messages are not working if OnConnected was not called. I think it started

[2019-05-13 08:25] hugobarona commented on #85
You can use the REST API. A complete guide [here](https://github.com/Azure/azure-signalr/blob/dev/docs/rest-api.md) and a console app example [here](https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/Serverless).

[2019-06-24 06:14] chenkennt commented on #93
Fixed in #98

[2019-06-24 06:14] #93 closed

[2019-06-24 06:16] chenkennt commented on #63
Closing this it since there is no active discussion in this thread for a few months

[2019-06-24 06:16] #63 closed

[2019-06-24 06:17] vicancy commented on #70
Could you add more logs to app server side to see what went wrong?
1. when you are debugging locally, you can try: https://github.com/Azure/azure-signalr/blob/dev/docs/tsg.md#troubleshooting-guide-1

2. or you can follow https://github.com/Azure/azure-signalr/blob/dev/docs/tsg.md#enable-server-side-traces-for-aspnet-signalr

[2019-06-24 07:29] vicancy commented on #85
Hi @wmktz1
Yes, it requires `Owin`.

Not sure what `Azure Api Application` exactly refers to here. You can create an ASP.NET Web Application with Web Api, and as well adding SignalR functionality, and Publish to Azure App Service.

Please note that REST API does **NOT** support ASP.NET version SignalR. ASP.NET Core SignalR supports that. cc @hugobarona

[2019-06-24 11:34] rfcdejong commented on #93
Thank you, now I see that it is available under https://signalr-flightmap-demo.azurewebsites.net/

[2019-07-02 22:20] profnimrod commented on #15
Same problem with me too... OnConnectedAsync/OnDisconnectedAsync fire only sometimes.

[2019-07-05 06:24] smerikstad opened #99 "Core and AspNet samples not talking together"
I hope I'm missing something obvious, but I can't get the Core ChatRoom and AspNet ChatRoom samples to communicate together.

Apart from the different frameworks, all else seems equal. I've made a change in the Core sample to map the hub name to "chathub" to match the hub name from the AspNet sample.

Both samples seems to be connected to the same Azure SignalR service using the same connection st

[2019-07-17 14:32] jraristi opened #101 "Access Token Javascript Client"
In the README is to be read:

What possibility is there to generate this access key on the client side?

[2019-07-18 07:18] realwanpengli commented on #101
Hi @jraristi ,
Yes,
[code]

More information can be found [here](https://github.com/Azure/azure-signalr/blob/dev/docs/management-sdk-guide.md#quick-start).

[2019-07-18 12:52] jraristi commented on #101
Thanks a lot for the prompt answer!

I am having a problem and it is most likely because of this.

First of all, the client is Javascript. Is there a Service Manager library for Javascript?

I am still not using the Service Manager, but in my example, I can send serverlessly broadcast messages. Then via Insomnia or Postman I subscribe a client (javascript client):
`PUT https://<instance-name>.serv

[2019-07-18 13:02] jraristi commented on #101
Ok, I just read:

[here](https://github.com/Azure/azure-signalr/blob/dev/docs/management-sdk-guide.md)

Is there a workaround for using a Javascript client?

[2019-07-18 14:33] jraristi commented on #101
I posted a better description of my problem [here](https://stackoverflow.com/questions/57096974/azure-signalr-serverless-javascript-client-subscribe-to-a-group-via-rest-client).

Any heads up would be really appreciated.

[2019-07-19 01:56] realwanpengli commented on #101
@jraristi

There is no Service Manager library for Javascript for now.

Did you add the user to the group before sending group messages?
Rest API can be found [here](https://github.com/Azure/azure-signalr/blob/dev/docs/rest-api.md#api).

If you have serverless scenario, I recommend you use [Azure Functions bindings for SignalR Service](https://github.com/Azure/azure-functions-signalrservice-extens

[2019-07-19 07:42] jraristi commented on #101
In my modified example, I send messages to the group `groupname` every 5 seconds, then I subscribe to it and my expectation is to start getting messages after I used the REST call to subscribe to the `groupname`.

I generate the JWT Token for every REST call. The Audience always changes for every different REST call and it is generated by the example:

[code]
Where the call to `GenerateAccessToken

[2019-07-19 08:31] jraristi commented on #101
I will try tho the function bindings. Thanks a lot for the support!

[2019-07-19 09:15] realwanpengli commented on #101
@jraristi Could you share your code? If the status code is 2xx, I guess you didn't add the user to group successfully. Is your http method for add-user-to-group request `PUT`? If you modified the `serverless` sample, please note that the [BuildRequest](https://github.com/aspnet/AzureSignalR-samples/blob/master/samples/Serverless/ServerHandler.cs#L142) is `POST` by default.

You can try this [new s

[2019-07-19 10:02] realwanpengli commented on #101
Did your client listen to the messages like this:
[code]
Are arguments' count and method name the same with the request?
Could you share your code?

[2019-07-19 11:07] jraristi commented on #101
The server sends messages only messages to "sendMessages"

[code]
[Here is my example](https://github.com/jraristi/serverless_example)
In the line 56 of the server handler has the arg lines to send messages to a group:
[code]
After the 3 message sent, the server uses the HTTP client to subscribe the "user1" (line 102):
[code]

[2019-07-19 12:23] jraristi opened #103 "Usage: send user <userId>, send group <groupName>, broadcast"
Server is ran as:
`C:\temp\AzureSignalR-samples\samples\Serverless> dotnet run -- server -c "Endpoint=https://test2-vncloud.service.signalr.net;AccessKey=xxx;Version=1.0;" -h chat`

Client is ran as:
`C:\temp\AzureSignalR-samples\samples\Serverless>dotnet run -- client client1 -c "Endpoint=https://test2-vncloud.service.signalr.net;AccessKey=xxx;Version=1.0;" -h chat`

Usages I got to work:
[code]

[2019-07-20 13:23] realwanpengli commented on #101
@jraristi Your example works for me.
I use the [Eppendorf.VNCloud.StatusDataPushService](https://github.com/jraristi/serverless_example/tree/master/Eppendorf.VNCloud.StatusDataPushService) to push group messages.
And I use the [serverless client sample](https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/Serverless) as client side. The client side command is `dotnet run -- client us

[2019-07-22 09:02] jraristi commented on #101
You are right! With the C# client, group messages reception works. Somehow, it doesn't work for the Javascript client :(

The parameter on 'SendMessage' is a callback with two parameters. I also tried with the explicit 2 parameters:
`connection.on('SendMessage', (server, message) => {...});`
With no success. I will keep researching but it seems strange.

[2019-07-22 10:05] realwanpengli commented on #101
Then you should focus on the client code. I'd like to help if you share the client code with me.

[2019-07-22 14:03] jraristi commented on #101
After testing it with the C# Client, it was clear to me, the server was Ok. The client code is also there [here](https://github.com/jraristi/serverless_example/tree/master/Eppendorf.VNCloud.StatusDataPushService.Client).

The javascript code is in wwwroot/index.html

[2019-07-22 14:22] jraristi commented on #101
Client JWT Token (which works for getting broadcasts):
[code]

[2019-07-22 16:15] realwanpengli commented on #101
@jraristi I found the [code for subscribing group](https://github.com/jraristi/serverless_example/search?q=subscribegroup&unscoped_q=subscribegroup) but no hub method implemented.

You mentioned you use Insomnia or Postman to subscribe a group for a user, could you show me the request?

[2019-07-22 19:37] jraristi commented on #101
The code for the subscription of a group is made in the server code (just as a test).
I [this](https://github.com/jraristi/serverless_example/blob/master/Eppendorf.VNCloud.StatusDataPushService/ServerHandler.cs) file.
In the line 104:
`                    request = BuildPutRequest("https://test2-vncloud.service.signalr.net/api/v1/hubs/chathub/groups/groupname/users/user1");`

Is the PUT request bu

[2019-07-23 13:02] realwanpengli commented on #101
@jraristi
200 means your subcribing group request is correct. Then the problem must be in client side.

The signalr client establish connection code should be like this:
[code]
Otherwise, the broswer's console will prompt errors:
[code]

But why you can receive broadcast messages? I don't think your client is connected to azure signalr service.

[2019-07-23 13:05] realwanpengli commented on #103
@jraristi Please remove the **accessKey**, and regenerate it, otherwise anyone can use your azure signalr service.

[2019-07-23 13:12] jraristi commented on #101
Yes, I do get broadcast messages, but no messages when they are sent to the group (javascript client).
If I connect the C# client (from the serverless example), I do get the group and the broadcast messages.

That makes clear that the server implementation is Ok and I don't really see a difference between the javascript and C# clients...

[2019-07-23 22:36] realwanpengli commented on #101
@jraristi
I mean your code to establish client connection sounds incorrect:
[code]

You could try:
[code]

[2019-07-24 08:18] jraristi commented on #101
Yes! That was it! Now it works!

Solution is: The connection of the Javascript was incorrect.

Thank you a lot for your support!

[2019-07-24 08:18] #101 closed

[2019-07-24 12:37] #99 closed

[2019-07-26 03:10] IrwinDong commented on #15
Same problem happened to me, and I was able to figured out what's going on with JS signalr client with websocket connection.
Due to browser's limitation, signalr cannot set headers with a websocket connection, instead it put the header information into the query string. In my case, it sends out the request like following
`wss://localhost/terminalhub?id=CMY9JiKxepBIlvV9vIzYyA&access_token=SUdUMjAyM

[2019-08-02 09:51] #103 closed

[2019-09-28 23:36] johnkwaters opened #113 "Issue when scaling out aspnetcore API with Azure Signal R service"
See diagram

I have a multi tenant aspnet core solution, using Azure SignalR as a service.
There are 2 instances of the aspnetcore API. Each has a hub
When the user logs in to the API it gets a JWT with claims for user id, tenant id and session id (a unique GUID for each session).
The signalr connection uses this same JWT.
When a user connects (signalr), I know throught the claims who they are, an

[2019-09-29 03:23] vicancy commented on #113
No, only group created will be known by all the instances, not the connection/disconnection events. The connection/disconnection event is only triggered once on the instance which the client is actually connected to.

[2019-09-29 13:43] johnkwaters commented on #113
OK. I think I have this working now, and it does work as expected. No matter which instance of the Hub a client connects to, the groups are propagated to all instances, and I can send a message to any of these groups from any instance, no matter which instance the client initially connected to. Nice!

[2019-09-29 13:44] #113 closed

[2019-10-17 23:22] rbrundritt opened #114 "Migrate maps to Azure Maps"
Being that this uses a bunch of Azure services, would make sense for this sample to also use Azure Maps instead of Bing Maps.

[2019-10-18 20:38] robcamer opened #115 "Issue in Advanced Chat Room Sample"
When you try to create / join a new group with a message, this event is called in ChatBase.cs:
NOTE: Same issue occurs in ChatBase.cs --> LeaveGroup.

public async void JoinGroup(string name, string groupName)
{
    await Groups.AddToGroupAsync(Context.ConnectionId, groupName);
    await Clients.Group(groupName).SendAsync("echo", "_SYSTEM_", $"{name} joined {groupName} with connectionId {Context.C

[2019-10-28 17:32] bentmar opened #116 "Service crashes very easily with a tiny load"
Hi, im currently testing ASR running with 2 units in serverless mode. A function handles the negotiation.

Connecting 300-500 clients over 10 seconds takes the service down 99% of the time. And if it was to handle all connections, alla clients gets disconnected after a minute, when they reconnect they take it down again.

Im running a simple console app to create the connections.

The errors im ge

[2019-10-28 18:05] bentmar commented on #116
![ASR](https://user-images.githubusercontent.com/10244000/67704738-f5381180-f9b5-11e9-8725-2aad8b1afdb5.gif)

[2019-10-28 18:43] robcamer commented on #115
To resolve the issue, update the Sample to be **async Task** instead of **async void**.

[2019-10-28 19:21] bentmar commented on #116
When running in default mode and a webapp is conected to ASR and negotiating through the webapp. its works flawlessly. But since I dont get any connected/disconnected events this way its not an option form me

[2019-10-29 15:34] bentmar commented on #116
I added this issue in the correct github..

[2019-10-29 15:34] #116 closed

[2019-12-17 20:07] nyakimov opened #118 "Unable to connect ASP.NET and ASP.NET Core sample apps through Azure SignalR Service"
I tried multiple different thing in order to be able to run the ASP.NET-Samples in tandem with the .NET Core samples but for some reason they both acted as they're the only clients connected but I see them both connecting the Azure SignalR instance. Anyone has any idea why this is happening ?

[2019-12-17 20:10] nyakimov commented on #85
@vicancy I was trying to use the aspnet-sample chat app together with the .net core chat app but i don't see the messages coming across. They both connect fine to Azure SignalR but the broadcast messages from one don't show up on the other. Any idea ?

[2019-12-19 06:12] vicancy commented on #85
@nyakimov ASP.NET SignalR and ASP.NET Core SignalR are using different protocols and they are not recognized by each other.

[2019-12-19 14:21] nyakimov commented on #85
So what is the advisable method to achieve Azure SignalR communication between .net core and .net full framework applications ?

[2019-12-19 17:57] nyakimov commented on #85
I just found this https://github.com/Azure/azure-signalr and seems like Azure SignalR supports both ASP.NET Core SignalR and ASP.NET SignalR. I ran two instances of the asp.net-samples/chatroom app which is the ASP.NET but I still can't get the messages to come across from one instance to the other.. very strange

[2019-12-30 07:42] vicancy commented on #85
Interesting question. Could you describe your scenario in a bit more detail? One way I can think of is to have some client implementing both ASP.NET SignalR and ASP.NET Core SignalR. This client can act as a proxy and it can receive messages from one ASP.NET SignalR connection and send messages to the other ASP.NET Core SignalR connection.

[2019-12-30 13:14] nyakimov commented on #85
I have multiple microservices that process payments and they're all .net core. The payment request gets initiated from a .net full framework and I'm trying to notify the client when the payment goes through the different stages/statuses. I was thinking I can send signalr message from the .net core backend app and receive it in the front end .net full framework app.

I hope that makes sense. I can

[2019-12-31 01:31] vicancy commented on #85
I am thinking, the initiating payment app which uses .net full framework, which version is it? It can also use [ASP.NET Core SignalR](https://www.nuget.org/packages/Microsoft.AspNetCore.SignalR) because it is targeting `.NETStandard 2.0`.

[2020-01-03 23:10] nyakimov commented on #85
It's .NET Framework 4.7.2. I'm going to try to reference the Microsoft.AspNetCore.SignalR.Core package. Would I also have to use the signalr.js for the front end or will the jquery.SignalR library still work ?

[2020-01-06 02:22] vicancy commented on #85
No the old jquery.SignalR does not work for Core SignalR, they are different. Please follow the instruction for ASP.NET Core SignalR client, the syntax is similar and easy to use.

[2020-01-08 16:24] nyakimov commented on #85
I'm having some trouble hooking up the AspNet Chatroom app (https://github.com/aspnet/AzureSignalR-samples/tree/master/aspnet-samples/ChatRoom) to Azure SignalR using the ASP.NET Core SignalR Client. I'm trying to hook it up in the same manner as the .net core chat app. In the .net core chat app my Startup.cs looks like this:

`// Copyright (c) Microsoft. All rights reserved.
// Licensed under the

[2020-01-09 06:35] vicancy commented on #85
No you can't.

After rereading your description, I feel that I misunderstood your scenario. It should be that your `net472` app is the **server-side** broadcasting messages while your **client-side** is using .net core, right? I think for this scenario you can directly use ASP.NET Core SignalR for your server side as [Microsoft.AspNetCore.SignalR](https://www.nuget.org/packages/Microsoft.AspNetCor

[2020-01-09 14:30] nyakimov commented on #85
Yes client side is .net 472 and the backend microservices are .net core 2.x I'm trying to get both of them connected to Azure SignalR which I'm able to but apparently they're using the two different protocols and not able to pass messages between each other so I was trying to see how I can get them connected through the same protocol to Azure SignalR instance.

[2020-02-27 13:33] riaadh opened #125 "How to put configuration for primary and secondary connection string in AppSettings ?"
Hello,
I want to use multiple instances of azure signalr

In this documentation
https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-concept-disaster-recovery

it says

but i want the same thing but in appsetting format
now i am using this  with only one connection and it works
  "Azure": {
    "SignalR": {
      "ConnectionString": ""
    }
  }

Thanks for help

[2020-02-28 00:58] chenkennt commented on #125
You just need to convert the colon-separated configuration to a hierarchical configuration (which is a standard ASP.NET Core [convention](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.1#keys)):

Colon-separated:
[code]

appsettings.json
[code]

[2020-03-02 11:16] DavidStania opened #126 "AzureSignalR connection correct, but not notifying"
Hey Guys,

I have a smal problem after publishing my web app on azure and consuming AzureSignalR.
After starting app, connection is working well and I can join groups. But if I push a Notification from my app like

[code]
groups were not notifyed.

#setup.cs ConfigureServices
[code]

[code]
But without .AddAzureSignalR(), so as local service, everithing is working. Also after publishing on azure.

[2020-03-03 08:19] vwxyzh commented on #126
@DavidStania It should be OK, can you repro the issue after restarting the service instance?
And can you send your resource id to my email address: `zhyan@microsoft.com`?

[2020-03-03 08:42] DavidStania commented on #126
@vwxyzh after restarting service, problem still exists.
ResourceId I sended to you. Thank you.

[2020-03-03 09:00] vwxyzh commented on #126
Let me check the service log.

[2020-03-03 12:13] DavidStania commented on #126
I don't know why, but i got this erro
[code]
Today it is not possible to established connection.

Yesterday, same doing:
![image](https://user-images.githubusercontent.com/27513913/75774715-cd383080-5d50-11ea-846d-7c104e64b586.png)

[2020-04-10 07:03] davidfowl commented on #15
If anyone on this thread can provide a repro that would be amazing to help us narrow down this issue.

[2020-04-17 11:39] DataJuggler opened #131 "Your Documentation For Your ChatRoom example is confusing"
You need a 'For Dummies' version of your Read Me file.

I read this, and you don't show an example of what 'Your Application Name' should be.

You also say 'Set Your ConnectionString', but do not show an example.

In [Startup.cs](Startup.cs), instead of calling `MapSignalR()`, you need to call `MapAzureSignalR({your_applicationName})` and pass in **connection string** to make the application conne

[2020-04-17 12:13] DataJuggler commented on #131
You can close this ticket.

I got the app to run, but I don't see two chat windows I see one even if I run two instances.

WCF somehow seemed easier than this, at least it worked.

[2020-06-09 09:37] vince-nyanga opened #133 "Failing to connect using the client app: Management SDK Example"
Apologies if it's a duplicate issue.

I'm trying to run the [Azure SignalR Service Management SDK Sample](https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/Management)  but the client app fails with this exception:

`Microsoft.AspNetCore.SignalR.HubException: Unable to complete handshake with the server due to an error: SignalR Service is now in 'Default' service mode. Current mod

[2020-06-09 14:58] vince-nyanga commented on #133
Got the source of my problem. I needed to select the `Serverless` service mode during the creation of my SignalR service.

[2020-06-09 14:58] #133 closed

[2020-06-14 12:42] awweather commented on #15
I'm having similar issues as above.  I'm currently using JWT Auth.  When I put the [Authorize] attribute on the hub, the authorization is working correctly, verifying the token and permitting access - but disconnected events no longer fire. When this occurs some weird behavior happens and a lot of time my hub stops responding to client events.  As soon as I take it off, everything works smoothly.

[2020-06-14 15:48] davidfowl commented on #15
cc @BrennanConroy

[2020-06-14 17:00] BrennanConroy commented on #15
Wouldn't that mean that the auth isn't working?

Could you describe the exact issue you're having. This thread is very long and full of different issues.

[2020-06-15 00:00] awweather commented on #15
Sure, let me try to explain. As mentioned before I'm using JWT authentication. I'm running ASP.NET Core 3.1.  Auth middleware configured below:

[code]

On the Hub itself, I have
`[Authorize(AuthenticationSchemes = "Bearer")]`

My Javascript client connection:
[code]

When I say the auth is working, I mean that the token is getting validated and access is being granted to the Hub methods.  I've ag

[2020-06-15 00:28] BrennanConroy commented on #15
It doesn't look like the client is connecting in your screen shot and I'm guessing `OnConnectedAsync` is never being called so `OnDisconnectedAsync` will not be called.

Because of restrictions in the browser APIs the token is put in the query string and you need to handle that in your auth middleware, otherwise the token will be ignored and fail the connection. We have docs with sample code showi

[2020-06-15 00:53] awweather commented on #15
Wow, you are a life saver.  I just tried that and it seems to have solved my issues.  I saw that in the documentation before, but thought I had implemented the same thing using some additional middleware but it appears that maybe this was being executed too late in the lifecycle.

`        private async Task AuthQueryStringToHeader(HttpContext context, Func<Task> next)
        {
            var qs

[2020-06-15 01:33] BrennanConroy commented on #15
Yeah, that makes sense. After WebSockets and ServerSentEvents fail, the client falls back to LongPolling. It succeeded in connecting to the Hub because it can use headers for auth. But when you close the browser that results in an ungraceful disconnect which relies on timeouts on the server side. However, since you are attached with the debugger some timeouts are disabled to make debugging easier.

[2020-06-17 16:31] pooran commented on #32
Any progress @BenBtg ?

[2020-06-29 17:15] dazinator commented on #126
i am seeing the same error, but I am not skipping negotiation.
The client tries to send a negotiate request and get's an error 500 response

Request Method: POST
Status Code: 500
Remote Address: 137.117.203.130:443
Referrer Policy: no-referrer-when-downgrade

Looking at the logs on the server:

I am seeing this repeated:

29 Jun 2020 18:13:27.805
 Failed to connect to '(Primary)https://foo-dev.ser

[2020-07-21 20:12] madhankumar-g opened #134 "Can we get samples for WPF Client"
Can you add some samples for WPF client, as there are very less documentation around it.

[2020-07-21 20:14] madhankumar-g commented on #32
Does this help?

[2020-10-13 12:19] nebhagat opened #139 "How to generate accesstoken for SignalR Rest APIs"
Hi,

I was redirected to these [samples](https://github.com/aspnet/AzureSignalR-samples/tree/master/samples/Serverless) from this [doc](https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-rest-api#build-and-run-the-sample) for signalR REST Api reference.

This sample has deprecation warning stating not to generate access token by themselves, but to use `Management SDK`.
This SD

[2020-11-11 04:38] shiweiwei114 commented on #42
I don't think @mariomeyrelles is putting any userId to the input binding for SignalR service, he was generating the access token by himself and adding the userId as part of the token signature.

[2020-12-17 18:07] ravisankarchalamalasetty opened #145 "Sending messages to specific group is not working in Azure function based SignalR service"
Azure SignalR service + Azure function based hubs
--------------------------------------------------------
I am just wondering if sending message to specific group within connected clients is working at all for anyone? Broadcast is working well though! Likewise, sending message to a specific user within connected clients is also not working just like sending to a specific group of users. Not sure

[2020-12-21 08:58] zackliu commented on #145
Found some bugs in your codes, you're adding user to group with the user name and group name you typed in but sending message to group and user with a specific name `SIL01D`

[code]
You passed in `data.username` for adding user to group but use a specific name for sending messages to group
[code]

So, first you need to change them to the same one. I suggest using `tempGroupName` and `tempUserId` t

[2020-12-23 18:46] ravisankarchalamalasetty commented on #62
Please upgrade your project version to latest .NET framework (preferably 4.7.2) and you can see things starts falling in place when you try to install Microsoft.Azure.SignalR.AspNet from NuGet.

[2020-12-24 02:21] vicancy commented on #62
Hi @ravisankarchalamalasetty  What is the error you are seeing? Would you mind sharing your repro steps?

I tried upgrading the [ASP.NET ChatSample](https://github.com/aspnet/AzureSignalR-samples/tree/master/aspnet-samples/ChatRoom) to `net472`, it first reports `System.IO.FileNotFoundException: 'Could not load file or assembly 'System.ValueTuple, Version=4.0.0.0, Culture=neutral, PublicKeyToken=c

[2021-01-12 07:19] SfolziniLuca opened #150 "Connection signalR Azure in default mode with Form Application"
Good morning,

I am trying to create a desktop application form (Server-Client) with the azure signalR service. The Client Server application without using azure works, if I try to use azure I cannot call the connection activation from a button. Can you help me ?

[2021-01-12 09:04] chenkennt commented on #150
Could you share more details about what error you see?

[2021-01-12 09:13] SfolziniLuca commented on #150
I try use this code for start connection:

private IDisposable SignalR {get; set;}
const string ServerURI = "Endpoint=https://..."

[code]

Error: Connection refused

Thank you

[2021-01-12 09:19] chenkennt commented on #150
Is it possible to share a sample project that can reproduce this issue?

[2021-02-01 03:34] #125 closed

[2021-02-01 03:57] chenkennt commented on #139
How access token should be generated is explained [here](https://github.com/Azure/azure-signalr/blob/dev/docs/rest-api.md#authenticate-via-azure-signalr-service-accesskey).

If you're already familiar with JWT token, you can follow that information to sign a token with SignalR Service access key using any JWT library.

There is also a sample code in node.js [here](https://github.com/aspnet/AzureSi

[2021-02-01 03:58] #115 closed

[2021-02-01 03:59] chenkennt commented on #131
This is already a sample code you can use.

[2021-02-01 03:59] #131 closed

[2021-02-18 21:49] jimkangosjarvi commented on #15
Add this and OnDisconnectedAsync should trigger
[code]
[See link, works fine](https://github.com/jimkangosjarvi/Chatter-WebAssembly)

[2021-03-02 06:57] #139 closed

[2021-03-25 02:18] chenkennt opened #155 "Default branch has been renamed to main"
On Wednesday, 25 March 2021 we have renamed to default branch in this repository to `main`. For more details, see [our earlier announcement](https://github.com/dotnet/announcements/issues/172).

All links to the original `master` branch should be automatically redirected to the new default branch. But if this change breaks you please feel free to comment in this issue.

[2021-03-25 12:55] arashcomsense opened #156 "Adding/removing a user to/from signalR group in .net 5.0"
Could anybody chime in and answer [this question](https://stackoverflow.com/questions/66791029/adding-removing-users-to-signalr-groups-in-net-5-0)?

[2021-04-09 15:30] enijburg opened #157 "Access SignalR Service with AAD auth options started to fail after several months"
We have a couple .netcore applications connected to signalr services through aad auth. Last week the clients that connect to the negotiated endpoint get 401 errors. If I change the AddAzureSignalR connection string from the "Endpoint=https://nnn.service.signalr.net;AuthType=aad;" to the Primary connectionstring from Keys in azure portal everything works again. Did something change related to AAD a

[2021-04-18 12:39] mrlife opened #158 "Supports API endpoints?"
With Azure SignalR Service being the [recommended hosting model](https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/server?view=aspnetcore-5.0#azure-signalr-service) for Blazor Server apps, does it support everything a Blazor Server app supports, such as API endpoints?

[2021-04-19 03:24] JialinXin commented on #158
@mrlife Would you explain a little more? What feature are you looking for support?

[2021-04-19 12:06] mrlife commented on #158
@JialinXin Thank you, does this help? https://github.com/dotnet/aspnetcore/issues/30204

[2021-04-20 02:14] JialinXin commented on #158
This seems nothing special for Azure SignalR. You can have a try.

[2021-04-20 12:31] mrlife commented on #158
@JialinXin Thank you, are you saying this is supported?

[2021-04-21 03:45] JialinXin commented on #158
Yes. I think your requirement is in Blazor server side which should be supported naturally. Please try and let us know if you meet any problem.

[2021-04-21 07:34] terencefan commented on #157
Hello, @enijburg when did this happen? And what type of managed identity you are using now?

- [ ] System assigned

- [ ] User assigned

[2021-04-21 07:35] terencefan commented on #157
Would you mind tell me in which region you tested your service as well?

[2021-04-21 07:58] enijburg commented on #157
Hi @terencefan, our services run in west europe and north europe. We assign User assigned managed identities through AIM role assignments from deployment pipeline (**SignalR App Server (Preview)** role)

[2021-04-26 16:47] drfbwilliams opened #159 "Demo script creates a Standard S1 instance"
Your script here creates an S1 Standard isntance

`az signalr create --resource-group <resource_group_name> --name <signalr_name> --sku Standard_S1`

Why are you doing that? At the very least, put a disclaimer above it stating this is a paid instance and not the free tier.

[2021-05-27 10:20] ACalderwood93 commented on #145
@zackliu

Replying long after you did but thanks for your help. I've been looking through docs for serverless signalR for a bit now and your post was the first time i've seen mention of setting the `UserID` in the negotiation. ( I probably just missed it before) But thanks, this has really helped me out.

[2021-07-21 05:34] rockgecko-development opened #164 "[BidirectionChat]"
I worked through the BidirectionChat sample and encountered a few errors and omissions, so I thought I'd list them for the next person:

1. The header `x-ms-signalr-user-id` is never sent from the frontend. The function https://github.com/aspnet/AzureSignalR-samples/blob/bb7652ae0b6929a91f407cfa0a8d0236929f5bb6/samples/BidirectionChat/csharp/content/index.html#L173-L178
is never called.
The signal

[2022-02-10 14:00] arashcomsense opened #175 "The example does not work with signalR emulator"
I keep getting error 500 when using [signalR emulator](https://github.com/Azure/azure-signalr/blob/dev/docs/emulator.md).

[2022-03-01 18:46] #175 closed

[2022-03-01 18:47] arashcomsense opened #178 "Seeking guidance on counting the number of connected users to a signalR users group"
The following code adds a user to a signalR group:

[code]

I am aware that we can leverage signalR upstream to listen to and handle events when a user connects or disconnects to/from the signalR hub to increment or decrement a kind of counter. Aside from this method, is there a method or technique to query the Azure SignalR Service instance to determine the number of connected users per group?

[2022-03-01 22:08] markti opened #179 "EventGrid sample is broken"
followed instructions to a tee. does not work. Is based on old / unsupported version of .net core 2.1

![image](https://user-images.githubusercontent.com/3155241/156257036-5a89b8b7-3d99-4628-a7e0-7e69b814f819.png)

![image](https://user-images.githubusercontent.com/3155241/156257050-0336c21a-a392-48c8-ad6c-ee7aa8c68605.png)

[2022-03-07 06:18] Y-Sindo commented on #178
We don't provide such methods or techniques.

[2022-03-07 06:20] Y-Sindo commented on #178
There are no such methods. You need to track the number of connected users per group by yourself.

[2022-03-07 12:09] #178 closed

[2022-04-19 19:16] DanielPeckham opened #187 "Connection string missing required properties endpoint"
![image](https://user-images.githubusercontent.com/31899882/164078879-431e5932-2755-436d-ad4b-dbcfe505e5a5.png)

I cloned and ran the repo following all the steps of the quick tutorial in the docs and this error happens every time

[2022-04-20 08:09] Y-Sindo commented on #187
What's your `local.settings.json` file? Do you set the connection string correctly?

[2022-06-01 03:19] vicancy commented on #179
fixed by https://github.com/aspnet/AzureSignalR-samples/pull/180/

[2022-06-01 03:19] #179 closed

[2022-06-22 13:42] sharvaridesai123 opened #191 "Azure Signal R Adding User in Isolated Process"
# Question

We are using Azure Function apps using .Net 5 using Isolated process. We do want to use the SignlRService Output binding for sending to a user and sending to a group.

I am referencing [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service-output?tabs=isolated-process&pivots=programming-language-csharp), The send to user says that not supported

[2022-06-24 04:47] Y-Sindo commented on #191
It is supported. We will update the doc soon and provide an example. Currently you can refer to this sample:
https://github.com/aspnet/AzureSignalR-samples/blob/main/samples/DotnetIsolated-BidirectionChat/Functions.cs#L76-L85 .

Thanks for the feedback.

[2022-06-28 22:25] #191 closed

[2022-06-28 22:34] sharvaridesai123 opened #196 "Negotiate end point connection error"
I am getting an error on the negotiate endpoint related to the connection.
The actual error is Connection string missing required properties endpoint. (Parameter 'connectionString')

I am using  BidirectionalChat example and using isolated process. My code works locally, but not when deployed to function app.

`  [Function("negotiate")]
        public async Task<SignalRConnectionInfo> Negotiate([H

[2022-06-28 22:35] sharvaridesai123 opened #197 "Connection Error on Negotiate endpoint"
I am getting an error on the negotiate endpoint related to the connection.
The actual error is Connection string missing required properties endpoint. (Parameter 'connectionString')

I am using  BidirectionalChat example and using isolated process. My code works locally, but not when deployed to function app.

`  [Function("negotiate")]
        public async Task<SignalRConnectionInfo> Negotiate([H

[2022-06-29 03:16] #197 closed

[2022-06-29 03:16] sharvaridesai123 commented on #197
This is a non-issue.  Connection string was deployed in a incorrect format

[2022-09-01 18:18] BC89 opened #211 "Local.Setting.Json issues - ConnectionString"
There's definitely some real flakiness when binding values from the local setting file. When using Azure functions input bindings it appears that keyVault or other complex objects (i.e. serilog setting) screws things up wherein the keyvault magic isn't performed or the AzureSignalRConnectionString doesn't bind to the function params. If other complex objects are in the values section, AzureSignalR

[2022-09-02 19:24] BC89 commented on #211
I can do that certainly but have some doubts. When I do get the string from keyvault and the magic conversion happens from url to actual encoded connection string, it never binds correctly. That doesn't seem like a host issue but a binding problem because the string is correct at that point.

Thx!

[2022-09-03 02:56] Y-Sindo commented on #211
Do you mean using a key vault URL instead of the actual connection string in the `AzureSignalRConnectionString`? It's not supported.

[2022-09-03 03:03] Y-Sindo commented on #211
You might want to use identity-based connection instead:
* https://devblogs.microsoft.com/azure-sdk/introducing-azure-identity-support-in-the-azure-functions-signalr-extension-beta/#:~:text=The%20Azure%20Functions%20SignalR%20extension%20enables%20serverless%20integration,version%201.7.0-beta.1%20for.NET%2C%20which%20introduces%20Azure%20Identity%20integration.